<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recruit Page</title>
  </head>
  <body>
    {{> header}}

    <p>Come with us and change the world</p>

    {{> footer}}
  </body>
</html>
